.a{
    width: 180px;
    // background-color: cadetblue;
    
    display: flex;
    justify-content: space-between;  
}
.c{
    width: 60px;
}
.b{
    margin-left: 10px;
    color:rgb(22, 21, 21);
}
.d{
    width: 50px;
}
.e{
    width: 60px;
    height: 60px;
}