.box{
  width: 330px;
}
.top{
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text{
  margin-top: 30px;
  font-size: x-large;
}
.button{
  height: 30px;
  margin-top: 40px;
}