.main{
  position: absolute;
  right: 20px;
}
.box{
  width: 70px;
  height: 540px;
  border: 2px solid black;
  background-color: white;
  border-radius: 7px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  margin-right: 15px;
}
