.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 300px;
}
.user{
  display: flex;
  align-items: center;
}
.word{
  font-size: large;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dir{
  font-size: small;
  color: rgb(158, 158, 158);
  margin-top: 5px;
}
.follow{
  width: 300px;
  margin-top: 20px;
}
.tip{
  margin-top: 20px;
}