.a{
    width: 15%;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}
.b{
    color: black;
    text-decoration: none;
    display: flex;
    font-size: smaller;
    width: 60px;
    height: 29px;
}
.b img{
    margin-right: 5px;
}

.c{
    height: 30px;

}