.a{
    width: 12%;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}
.b{
    color: black;
    text-decoration: none;
    display: flex;
    font-size: small;
    width: 50px;
    height: 30px;
}

.c{
    height: 30px;
}