.box {
  width: 74%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ul {
  width: 100%;
}
.li {
  margin-top: 20px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 80%;
  border-bottom: 1px solid rgb(143, 143, 143);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 16px;
}
.text {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
.span {
  height: 40px;
}
.img {
  width: 170px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.img2 {
  cursor: pointer;
   font-size: 25px;
   color:rgb(133, 131, 131)
}
.del {
  display: flex;
  justify-content: center;
  align-items: center;
  width:30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s;

}
:hover.del{
  background-color: rgb(224, 221, 221);
}
:hover.del .img2{
  color: rgb(13, 189, 243);
}
:active.del{
  background-color: rgb(190, 189, 189);
}
