.box{
  overflow: hidden;
  height:14px;
}
.min-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:300%;
  animation:fontMove-1 2s infinite;
  animation-direction:alternate;
  -webkit-animation-delay:2s;
}
.moveCentext{
  width: 42px;
  height: 14px;
  color:rgb(116,113,113);
  text-decoration: none;
  font-size: small;
}
.move{
  width: 42px;
  height: 14px;
  color:rgb(206, 89, 35);
  text-decoration: none;
  font-size: 14px;
}
@keyframes fontMove-1 {
  　　from {transform: translateY(0px);}
  　　to {transform: translateY(-16px);}
}