.a{
    display: flex;
  
}
.c{display:flex;
    flex-direction:column;
    margin-right: 10px;
}
.d{
    display: flex;
    font-size: x-small;
    color:gray;

}
.b{
    font-size: large;
display: flex;
color: black;
}
