.box{
  display: flex;
  width: 300px;
  height: 150px;
}
.img{
  width: 343px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.word{
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.tip{
  font-size: large;
}
.dir{
  margin-top: 10px;
  font-size: small;
  color: rgb(144, 144, 144);
}