.a{
    // background-color: crimson;
    width:450px;
    display: flex;
    align-items: center;
}
.b{
    
    color:rgb(116, 113, 113);
    margin-right:15px;
    text-decoration: none;
    font-size: small;
}