.a{
    display: flex;
    height: 90px;
    width: 290px;
}
.d{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
}
.b{
     margin-top: 10px;
     color: black;
     font-size: large;
}
.c{
    font-size: small;
    margin-top: 20px;
    
}