.box{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left{
  width: 200px;
  font-size: 16px;
}
.img{
  margin-top: -5px;
  margin-right: 10px;
}
.right{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.button{
  height: 30px;
  font-size: 13px;
}
