.box{
  width:1070px ;
  height:50px ;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.left{
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.iconB{
  font-size: 40px;
  color: skyblue;
}
.content{
  font-size: 25px;
  color: black;
  margin-left: 10px;
}
.dir{
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.text{
  font-size: 12px;
  margin-left: 30px;
}
.num{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}
.iconS{
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
.txt{
  margin-left: 5px;
  font-size: 12px;
}
.right{
  width:168px;
  margin-top: 15px;
}
.button{
  margin-left: 20px;
}