.h4{
  width:206px;
  height:115px;
  position: absolute;
  margin-left: 0px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(25, 190, 135);
}
.bottom{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 10px;
  font-size: smaller;
}
:hover.h4{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.content{
  margin-top: 5px;
  margin-left: 5px;
  font-size: small;
}
.icon{
  font-size: 20px;
  margin-top: 5px;
}
.box{
  position: absolute;
  width: 206px;
  height: 115px;
  overflow: hidden;
}