.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main{
  width: 450px;
  margin-top: 50px;
}
.input{
  margin-top: 30px;
}
.word{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.description{
  margin-top: 30px;
  margin-left: 15px;
  font-size: 12px;
}
.link{
  margin-left: 2px;
  margin-top: 10px;
  font-size: 12px;
  color: skyblue;
}