.main{
  width: 1070px;
  height:420px;
  display: flex;
  // margin-top: 5px;
  flex-direction: column;
  justify-content: center;
}
.line{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}