.a{
    display: flex;
    height: 340px;
    width: 205px;
    flex-direction: column;
}
.d{
    display:flex;
    flex-direction: column;

}
.b{
     margin-top: 10px;
     color: black;
     font-size: large;
}
.c{
    font-size: small;
    margin-top: 5px;
    
}
