/**
 * @see https://ant.design/docs/react/customize-theme-cn#Ant-Design-%E7%9A%84%E6%A0%B7%E5%BC%8F%E5%8F%98%E9%87%8F
 */
$color-primary:#1890ff;
$color-text:#303030;
$color-text-darker:#101010;
$color-disable:#909090;
$color-background:#f2efe9;
$color-background-lighter:#e9f1f2;
$color-text-light:#fff;
$color-divide:#d9d9d9;
$color-danger:#f5222d;