.right{
    width:168px;
   margin-bottom: 15px;
  
  }
  .button{
    margin-left: 20px;
  }
  .a{
    font-size: 25px;
    color: black;
    margin-left: 10px;
    margin-top: 20px;

}
.b{
    display: flex;
}