.a{
    float:right;
    width:13%;
    display: flex;
    flex-direction:column;
 
    justify-content: space-between;
 
}

.b{
    text-align: center;
 
    height: 20px;
    width:270px;
    background-color: rgb(240, 236, 236);
    margin-bottom: 10px;
}
.c{
    height: 200px;
}
