.box {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  // margin-top: 30px;
}
.left {
  width: 50%;
  height: 100%;
}
.picture1 {
  width: 100%;
  height: 240px;
  background-color: rgb(200, 233, 166);
}
.picture2 {
  width: 100%;
  height: 240px;
  background-color: rgb(105, 133, 209);
}
.picture3 {
  width: 100%;
  height: 240px;
  background-color: rgb(48, 137, 165);
}
.picture4 {
  width: 100%;
  height: 240px;
  background-color: rgb(204, 98, 138);
}
.picture5 {
  width: 100%;
  height: 240px;
  background-color: rgb(204, 94, 94);
}
.right {
  height: 240px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action {
  width: 170px;
  height: 115px;
  margin-left: 10px;
  background-color: black;
}
.icon2 {
  width: 170px;
  height: 115px;
}
p {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  color: black;
}

