.left {
  width: 330px;
  height: 320px;
  margin-top: 10px;
}
.picture1 {
  width: 330px;
  height: 330px;
  background-color: rgb(200, 233, 166);
}
.picture2 {
  width: 330px;
  height: 330px;
  background-color: rgb(105, 133, 209);
}
.picture3 {
  width: 330px;
  height: 330px;
  background-color: rgb(48, 137, 165);
}
.tip{
  position: absolute;
  top: 20px;
  margin-left: 20px;
  color: black;
}