.a{
  display: flex;
  height: 115px;
  width: 500px;
}
.d{
  display:flex;
  flex-direction: column;
  margin-left: 15px;
}
.b{
   margin-top: 10px;
   color: black;
   font-size: large;
}
.c{
  font-size: small;
  margin-top: 20px;
  
}
.e{
  color:rgb(197, 191, 191);
  margin-right: 10px;
}
.f{
  display: flex;
  margin-right: 10px;
}
